<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="uiMode|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".SetupActivity"        android:exported="false" android:windowSoftInputMode="adjustResize" android:configChanges="uiMode"/>
        <activity android:name=".DisasmActivity"       android:exported="false" android:windowSoftInputMode="adjustResize" android:configChanges="uiMode"/>
        <activity android:name=".AsmActivity"          android:exported="false" android:windowSoftInputMode="adjustResize" android:configChanges="uiMode"/>
        <activity android:name=".HermesFinderActivity" android:exported="false" android:windowSoftInputMode="adjustResize" android:configChanges="uiMode"/>
        <activity android:name=".AboutActivity"        android:exported="false" android:configChanges="uiMode"/>
        <activity android:name=".GuideActivity"        android:exported="false" android:configChanges="uiMode"/>
        <activity android:name=".CrashActivity"        android:exported="false" android:process=":crash" android:excludeFromRecents="true"/>

    </application>
</manifest>
